{*content-main--inner*}
{extends file="parent:frontend/index/index.tpl"}
{block name="frontend_index_content"}
<style>
.banner_covid{
   
  background: red;

}

</style>
<div class="row">
<div class="col-sm-12">
<div class="modal banner_covid" tabindex="-1" role="dialog">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title"></h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <p></p>
     </div>
     <div class="modal-footer">

       <a href="{$SwagBanner.linkinfo}" ></a>
     </div>
   </div>
 </div>
</div>
</div>
</div>
{/block}
